<span class=''>
  <div >
    <table border='1'><caption>Repartition de la Population par $lib_entete et par Tranche d'Age</caption>
        <tr>
            <td ROWSPAN='2'><img src='client-side/image/b_drop.png' width='16' height='16'></td>
            <td ROWSPAN='2' Align='center'>$id_name</td>
			<td ROWSPAN='2' Align='center'>$lib_name</td>
		</tr>
	<TR>
	</TR>
        <tr>
              <td class='ligne-impaire'  id='ligne-impaire_0_0' onClick='MiseEvidenceLigneFrame(0,8)'><INPUT type='checkbox' name='DELETE_0' value=1  onClick=Alert_Supp(this.name); disabled='disabled'></td>
              <td class='ligne-impaire'  id='ligne-impaire_0_1' onClick='MiseEvidenceLigneFrame(0,8)'><INPUT type='text' name='CODE_REGROUPEMENT_0' value='$CODE_REGROUPEMENT_0' size='2' Class ='Defaut_Ligne'  readonly></td>
              <td class='ligne-impaire'  id='ligne-impaire_0_2' onClick='MiseEvidenceLigneFrame(0,8)'><INPUT type='text' name='LIBELLE_0' value="$LIBELLE_0" size='25' readonly='1'></td>
        </tr>
        <tr>
              <td class='ligne-impaire'  id='ligne-impaire_1_0' onClick='MiseEvidenceLigneFrame(1,8)'><INPUT type='checkbox' name='DELETE_1' value=1  onClick=Alert_Supp(this.name); disabled='disabled'></td>
              <td class='ligne-impaire'  id='ligne-impaire_1_1' onClick='MiseEvidenceLigneFrame(1,8)'><INPUT type='text' name='CODE_REGROUPEMENT_1' value='$CODE_REGROUPEMENT_1' size='2' Class ='Defaut_Ligne'  readonly></td>
              <td class='ligne-impaire'  id='ligne-impaire_1_2' onClick='MiseEvidenceLigneFrame(1,8)'><INPUT type='text' name='LIBELLE_1' value="$LIBELLE_1" size='25' readonly='1'></td>
        </tr>
        <tr>
              <td class='ligne-impaire'  id='ligne-impaire_2_0' onClick='MiseEvidenceLigneFrame(2,8)'><INPUT type='checkbox' name='DELETE_2' value=1  onClick=Alert_Supp(this.name); disabled='disabled'></td>
              <td class='ligne-impaire'  id='ligne-impaire_2_1' onClick='MiseEvidenceLigneFrame(2,8)'><INPUT type='text' name='CODE_REGROUPEMENT_2' value='$CODE_REGROUPEMENT_2' size='2' Class ='Defaut_Ligne'  readonly></td>
              <td class='ligne-impaire'  id='ligne-impaire_2_2' onClick='MiseEvidenceLigneFrame(2,8)'><INPUT type='text' name='LIBELLE_2' value="$LIBELLE_2" size='25' readonly='1'></td>
        </tr>
        <tr>
              <td class='ligne-impaire'  id='ligne-impaire_3_0' onClick='MiseEvidenceLigneFrame(3,8)'><INPUT type='checkbox' name='DELETE_3' value=1  onClick=Alert_Supp(this.name); disabled='disabled'></td>
              <td class='ligne-impaire'  id='ligne-impaire_3_1' onClick='MiseEvidenceLigneFrame(3,8)'><INPUT type='text' name='CODE_REGROUPEMENT_3' value='$CODE_REGROUPEMENT_3' size='2' Class ='Defaut_Ligne'  readonly></td>
              <td class='ligne-impaire'  id='ligne-impaire_3_2' onClick='MiseEvidenceLigneFrame(3,8)'><INPUT type='text' name='LIBELLE_3' value="$LIBELLE_3" size='25' readonly='1'></td>
        </tr>
		<tr>
              <td class='ligne-impaire'  id='ligne-impaire_4_0' onClick='MiseEvidenceLigneFrame(4,8)'><INPUT type='checkbox' name='DELETE_4' value=1  onClick=Alert_Supp(this.name); disabled='disabled'></td>
              <td class='ligne-impaire'  id='ligne-impaire_4_1' onClick='MiseEvidenceLigneFrame(4,8)'><INPUT type='text' name='CODE_REGROUPEMENT_4' value='$CODE_REGROUPEMENT_4' size='2' Class ='Defaut_Ligne'  readonly></td>
              <td class='ligne-impaire'  id='ligne-impaire_4_2' onClick='MiseEvidenceLigneFrame(4,8)'><INPUT type='text' name='LIBELLE_4' value="$LIBELLE_4" size='25' readonly='1'></td>
        </tr>
		<tr>
              <td class='ligne-impaire'  id='ligne-impaire_5_0' onClick='MiseEvidenceLigneFrame(5,8)'><INPUT type='checkbox' name='DELETE_5' value=1  onClick=Alert_Supp(this.name); disabled='disabled'></td>
              <td class='ligne-impaire'  id='ligne-impaire_5_1' onClick='MiseEvidenceLigneFrame(5,8)'><INPUT type='text' name='CODE_REGROUPEMENT_5' value='$CODE_REGROUPEMENT_5' size='2' Class ='Defaut_Ligne'  readonly></td>
              <td class='ligne-impaire'  id='ligne-impaire_5_2' onClick='MiseEvidenceLigneFrame(5,8)'><INPUT type='text' name='LIBELLE_5' value="$LIBELLE_5" size='25' readonly='1'></td>
        </tr>
		<tr>
              <td class='ligne-impaire'  id='ligne-impaire_6_0' onClick='MiseEvidenceLigneFrame(6,8)'><INPUT type='checkbox' name='DELETE_6' value=1  onClick=Alert_Supp(this.name); disabled='disabled'></td>
              <td class='ligne-impaire'  id='ligne-impaire_6_1' onClick='MiseEvidenceLigneFrame(6,8)'><INPUT type='text' name='CODE_REGROUPEMENT_6' value='$CODE_REGROUPEMENT_6' size='2' Class ='Defaut_Ligne'  readonly></td>
              <td class='ligne-impaire'  id='ligne-impaire_6_2' onClick='MiseEvidenceLigneFrame(6,8)'><INPUT type='text' name='LIBELLE_6' value="$LIBELLE_6" size='25' readonly='1'></td>
        </tr>
		<tr>
              <td class='ligne-impaire'  id='ligne-impaire_7_0' onClick='MiseEvidenceLigneFrame(7,8)'><INPUT type='checkbox' name='DELETE_7' value=1  onClick=Alert_Supp(this.name); disabled='disabled'></td>
              <td class='ligne-impaire'  id='ligne-impaire_7_1' onClick='MiseEvidenceLigneFrame(7,8)'><INPUT type='text' name='CODE_REGROUPEMENT_7' value='$CODE_REGROUPEMENT_7' size='2' Class ='Defaut_Ligne'  readonly></td>
              <td class='ligne-impaire'  id='ligne-impaire_7_2' onClick='MiseEvidenceLigneFrame(7,8)'><INPUT type='text' name='LIBELLE_7' value="$LIBELLE_7" size='25' readonly='1'></td>
        </tr>
    </table>
</div>    <br>
